.nav-container{
    height:70px;
    border-top:2px solid black;
    color:black;
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* text-align: center; */
}

.nav-container ul{
    display: flex;
    justify-content: space-evenly;
    width:400px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}


.admin-container{
    height:300px;
    display: flex;
    justify-content: space-evenly;
    width:700px;
}

.admin-container input{
    height:30px;

}

.admin-container button{
    height:50px;
    width:50px;
    border:none;
    background-color: black;
    color:white;
    border-radius: 80%;
}