.nav-container{
    height:70px;
    border-top:2px solid black;
    color:black;
    background-color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* text-align: center; */
}

.nav-container ul{
    display: flex;
    justify-content: space-evenly;
    width:400px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}



div{
    text-align: center;
}
img{
    width:200px;
}

h4,p{
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
}